balanced-erm/
balanced-erm-new/
google-cloud-sdk/
mimic-cxr-jpg-2.0.0.physionet.org/
mnli_out/
mnli_out_new/
mnli_out_stage2/
multinli/
new_data/
out-erm/
out-nuisance-samplesplit/
out-sns-new/
out-truegroup/
resized_data/
rw_nurd_outdir/
sbatchfiles/
squash_chexpert/
stage1-outdir/
stage2-outdir/
stage2-outdir-fulldata/
stage2-outdir-newgroups/
wandb/
joint_disease_Cardiomegaly_rho0.9_rhotest0.9_colorTrue_balancedownsample_evalTrue.pt
chexpert.csv
mimic.csv
BalancingGroups/wandb/
